.u-stack-label {
  @apply text-sm font-extrabold text-white uppercase tracking-[0.15rem] flex items-center;
}

.badge {
  @apply px-4 py-3 bg-black text-white rounded-md relative overflow-hidden cursor-default;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -10%;
    height: 110%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6),
      rgba(168, 168, 168, 1)
    );
    transform: rotate(35deg);
    transition: left 0.5s ease-in-out;
  }

  &::before {
    left: -50%;
    width: 1px;
  }

  &::after {
    left: -20%;
    width: 4px;
  }

  &:hover::before {
    left: 150%;
  }

  &:hover::after {
    left: 120%;
  }
}
